<launch>

  <node name="img_pub_1" pkg="task" type="image_publisher" output="screen" args="/home/bladesaber/Desktop/1.jpg 1">
    <param name="image_path" value="/home/bladesaber/Desktop/1.jpg"/>
    <param name="publish_topic" value="camera/image/1"/>
  </node>

  <node name="img_pub_2" pkg="task" type="image_publisher" output="screen" args="/home/bladesaber/Desktop/2.jpg 2"/>
  <node name="image_subscriber_syc" pkg="task" type="image_subscriber_syc" output="screen"/>

</launch>